$primary-font: 'Mulish', sans-serif;
$secondary-font: 'Lato', sans-serif;
$brand-font: 'Nunito Sans', sans-serif;
$primary-color: #a9c5ba;
$black-color: #000;
$grey-color: #707070;
$light-grey-color: lighten($grey-color, 25%);
$white-color: #fff;
$invalid-color: #ec3b3b;

%heightFullvh {
  height: 100vh;
}

%noPadding {
  padding: 0px;
}

%noMargin {
  margin: 0px;
}

%displayFlex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
}

@mixin transform($value) {
  -webkit-transform: $value; /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: $value; /* IE 9 */
  transform: $value; /* IE 10, Fx 16+, Op 12.1+ */
}

@mixin marginVertical($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin marginHorizontal($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin fontSizeColor($size, $color) {
  font-size: $size;
  color: $color;
}

@mixin fontSizeHeight($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}
@mixin fontSizeHeightColor($size, $line-height, $color) {
  @include fontSizeHeight($size, $line-height);
  color: $color;
}

@mixin fontStyle($font, $size, $color) {
  @include fontSizeColor($size, $color);
  font-family: $font;
}
