@import '../../../../assets/scss/variables';

.custom-form {
  padding: 15px 3rem;
  margin-top: 40px;
  .in-form-link {
    display: block;
    @include fontSizeHeightColor(14px, 16px, $grey-color);
    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: darken($grey-color, 10%);
    }
  }

  input[type='submit'] {
    padding: 10px 2.5rem;
    border-radius: 20px;
    border-width: 0px;
    @include fontSizeHeightColor(16px, 20px, $white-color);
    background-color: $grey-color;
    &:focus {
      outline-width: 0px;
    }
    &:hover {
      background-color: darken($grey-color, 10%);
    }
  }
  .input-sign-up {
    height: 61px;
    &.invalid{
      height: 75px;
    }
  }
  .exclusive-sign-in {
    height: 16px;
  }
  .input-sign-up,
  .exclusive-sign-in {
    transition: all 0.5s ease;
    visibility: visible;
  }
}

.flow-sign-up {
  .custom-form .exclusive-sign-in {
    @extend %hidden;
  }
}

.flow-sign-in {
  .custom-form .input-sign-up {
    @extend %hidden;
  }
}
