@import '../../../assets/scss/variables';

.flow-manager {
  max-width: 500px;
  margin: auto;
  margin-top: 0px;
  transition: all 0.5s ease;

  .flow-title {
    position: absolute;
    @include fontSizeHeightColor(30px, 38px, $grey-color);
    text-align: center;
    transition: all 0.5s ease;
  }
  &.flow-sign-in {
    margin-top: 45px;
    .title-sign-in {
      opacity: 1;
    }
    .title-sign-up {
      opacity: 0;
    }
  }
  &.flow-sign-up {
    .title-sign-in {
      opacity: 0;
    }
    .title-sign-up {
      opacity: 1;
    }
  }
}

.option-divider {
  width: 100%;
  .divider-text {
    @include fontSizeHeightColor(16px, 18px, $light-grey-color);
  }
  .divider-line {
    width: 30%;
    height: 0.5px;
    background-color: $light-grey-color;
  }
}

.social-media-btn-text {
  @include fontSizeHeightColor(16px, 20px, $black-color);
}
