@import './assets/scss/variables';

body {
  font-family: $primary-font;
}

.page-container {
  @extend %heightFullvh;
  @extend %noPadding;
  .page-row {
    @extend %heightFullvh;
    @extend %noPadding;
    @extend %noMargin;
  }
  .page-col {
    @extend %noPadding;
    @extend %noMargin;
  }
}

.show {
  opacity: 1;
  display: block;
}

.hide {
  display: none;
  opacity: 0;
}